@use "../abstracts/functions" as f;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins";

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 3.2rem 2.4rem;
}

.about-us {
    background-color: v.$white;

    &_title {
        // margin-top: 3.2rem;
        margin-bottom: 2.6rem;
        text-align: center;
    }

    &_subtitle {
        text-align: center;
    }
}

.card {
    width: 26.4rem;
    height: 24.3rem;
    background-color: v.$white;
    box-shadow: 0.142rem 0.285rem 2.704rem rgba(0, 0, 0, 0.08);
    border-radius: 1.139rem;
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;

    &_icon {
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        background-color: v.$primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2.3rem;
        }
    }
}
