@use "../abstracts/functions" as f;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.about-us {
    background-color: v.$white;

    &_title {
        margin-bottom: 2.6rem;
        text-align: center;
        font-size: map-get(v.$font-sizes, "heading");
        font-weight: map-get(v.$font-weights, "regular");
        color: v.$accent-secondary;

        @media (min-width: 992px) {
            margin-top: 8rem;
            font-size: map-get(v.$font-sizes, "heading");
            font-weight: map-get(v.$font-weights, "semibold");
        }
    }

    &_subtitle {
        text-align: center;
        font-size: map-get(v.$font-sizes, "body-sm");
        font-weight: map-get(v.$font-weights, "regular");
        color: v.$accent-dark;
        line-height: 2.8rem;

        @media (min-width: 992px) {
            font-size: map-get(v.$font-sizes, "body");
            margin-top: 1.6rem;
        }
    }

    &_btn {
        @include m.flex-center;
        margin-top: 2.5rem;
    }
}

.card-section {
    @include m.flex-center;

    @media (min-width: 992px) {
        & {
            flex-direction: row;
            justify-content: space-between;
            gap: 2.4rem;
            margin-top: 4rem;
        }
    }
}

.card {
    @include m.flex-center($justify: flex-start);
    width: 26.4rem;
    height: 24.3rem;
    background-color: v.$white;
    box-shadow: 0.142rem 0.285rem 2.704rem rgba(0, 0, 0, 0.08);
    border-radius: 1.139rem;
    margin-top: 5.5rem;
    padding-top: 5rem;
    padding-inline: 3rem;
    position: relative;

    @media (min-width: 992px) {
        width: 37.1rem;
        height: 27.3rem;
    }

    &_icon {
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        background-color: v.$primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 992px) {
            width: 7rem;
            height: 7rem;
        }

        img {
            width: 1.7rem;
            height: 2.3rem;

            @media (min-width: 992px) {
                width: 2.3rem;
                height: 3.3rem;
            }
        }
    }

    &_desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            font-size: map-get(v.$font-sizes, "body");
            font-weight: map-get(v.$font-weights, "semibold");
            line-height: 1rem;
            color: v.$black;

            @media (min-width: 992px) {
                font-size: 2.2rem;
                margin-top: 3rem;
            }
        }

        p {
            font-size: map-get(v.$font-sizes, "body-sm");
            font-weight: map-get(v.$font-weights, "regular");
            line-height: 2.8rem;
            color: v.$accent-dark;

            @media (min-width: 992px) {
                margin-top: 1.5rem;
            }
        }
    }
}
