@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

.about-us {
    background-color: v.$white;

    &_title {
        @include m.section-title;
        margin-bottom: 2.6rem;

        @media (min-width: v.$bp-desktop) {
            margin-top: 8rem;
        }
    }

    &_subtitle {
        @include m.section-subtitle(v.$accent-dark);
        text-align: center;
        line-height: 2.8rem;

        @media (min-width: v.$bp-desktop) {
            margin-top: 1.6rem;
        }
    }

    &_btn {
        @include m.flex-center;
        margin-top: 2.5rem;
    }
}

.card-section {
    @include m.flex-center;
    position: relative;

    @media (min-width: v.$bp-desktop) {
        & {
            flex-direction: row;
            justify-content: space-between;
            gap: 2.4rem;
            margin-top: 4rem;
        }
    }

        &_eclipse {
        display: none;
        @media (min-width: v.$bp-desktop) {
            display: block;
            width: 12.9rem;
            height: 12.9rem;
            border: 0.6rem solid v.$primary;
            border-radius: v.$radius-round;
            position: absolute;
            top: 30rem;
            left: -3rem;
            z-index: 1;
            transform: rotate(-15deg);
            cursor: pointer;

            animation-name: Spin;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            &:hover {
                animation-play-state: running;
                -webkit-animation-play-state: running;
                z-index: 5;
            }
        }
    }
}

@keyframes Spin {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(345deg);
    }
}

.card {
    @include m.flex-center($justify: flex-start);
    width: 26.4rem;
    height: 24.3rem;
    background-color: v.$white;
    box-shadow: 0.142rem 0.285rem 2.704rem rgba(0, 0, 0, 0.08);
    border-radius: 1.139rem;
    margin-top: 5.5rem;
    padding-top: 5rem;
    padding-inline: 3rem;
    position: relative;
    z-index: 2;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    @media (min-width: v.$bp-desktop) {
        width: 37.1rem;
        height: 27.3rem;

        &:hover {
            transform: translateY(-1rem);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    }

    &_icon {
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 6rem;
        height: 6rem;
        background-color: v.$primary;
        border-radius: v.$radius-round;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: v.$bp-desktop) {
            width: 7rem;
            height: 7rem;
        }

        img {
            width: 1.7rem;
            height: 2.3rem;

            @media (min-width: v.$bp-desktop) {
                width: 2.3rem;
                height: 3.3rem;
            }
        }
    }

    &_desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            font-size: map.get(v.$font-sizes, body);
            font-weight: map.get(v.$font-weights, semibold);
            line-height: 1rem;
            color: v.$black;

            @media (min-width: v.$bp-desktop) {
                font-size: 2.2rem;
                margin-top: 3rem;
            }
        }

        p {
            font-size: map.get(v.$font-sizes, body-sm);
            font-weight: map.get(v.$font-weights, regular);
            line-height: 2.8rem;
            color: v.$accent-dark;

            @media (min-width: v.$bp-desktop) {
                margin-top: 1.5rem;
            }
        }
    }
}
