// Container: max-width 124rem, responsive margins
@use "../abstracts/variables" as v;

.container {
    max-width: 124rem;
    width: 100%;
    padding: 3.2rem 2.4rem;
    margin: 0 auto;
}

@media (min-width: v.$bp-desktop) {
    .container {
        margin: 0 auto;
        padding: 0 10rem;
    }
}
