@use "../abstracts/functions" as f;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

.services {
    padding: 0 2.4rem;

    @media (min-width: v.$bp-desktop) {
        padding: 0 10rem;
    }

    .container {
        background-color: v.$accent-primary;
        padding: 2.4rem 0;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        @media (min-width: v.$bp-desktop) {
            padding: 4rem 3.2rem;
            border-radius: 2.9rem;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &_wrapper {
        width: 100%;
        padding-right: 1.8rem;
        max-width: 55rem;
        margin: 0 auto;
        @include m.flex-center(
            $direction: column,
            $justify: center,
            $align: center,
            $text: center
        );

        @media (min-width: 992px) {
            @include m.flex-center(
                $direction: column,
                $justify: flex-start,
                $align: flex-start,
                $text: left
            );
            width: 100%;
            max-width: 51.5rem;
        }
    }

    &_title {
        text-align: center;
        @include m.section-title;

        @media (min-width: 992px) {
            text-align: left;
            margin-left: 6rem;
        }
    }

    &_subtitle {
        text-align: center;
        @include m.section-subtitle($color: v.$black);
        line-height: 2.8rem;

        @media (min-width: 992px) {
            font-size: map.get(v.$font-sizes, "body");
            margin-top: 1rem;
            text-align: left;
            width: 45rem;
            margin-left: 6rem;
        }
    }

    &_btn {
        @include m.flex-center;
        display: none;
        // margin-top: 32rem;

        @media (min-width: 992px) {
            display: block;
            margin-left: 6rem;
        }
    }
}

.services-info {
    margin-top: 1.4rem;
    margin-left: 1.3rem;

    @media (min-width: 992px) {
        margin-top: 1.2rem;
        width: 100%;
        width: 40rem;
        margin-left: 6rem;
    }
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
    font-size: map.get(v.$font-sizes, "body-sm");
    color: v.$black;

    @media (min-width: 992px) {
        font-size: map.get(v.$font-sizes, "body");
        width: 27.7rem;
    }

    &_icon {
        width: 3.8rem;
        height: 3.8rem;
        background-color: v.$white;
        border-radius: 50%;
        @include m.flex-center($direction: row, $text: left);
        transition:
            transform 0.6s ease,
            box-shadow 0.6s ease;
        cursor: pointer;

        &:hover {
            transform: translateY(-1rem);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        img {
            width: 1.7rem;
            height: 1.7rem;
        }

        @media (min-width: 992px) {
            width: 5.3rem;
            height: 5.3rem;

            &:hover {
                transform: translateY(-1rem);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            }

            img {
                width: 1.9rem;
                height: 1.9rem;
            }
        }
    }
}

.window {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
    z-index: 1;
    margin-top: -5rem;

    @media (min-width: 992px) {
        width: 46.2rem;
        height: 47.4rem;
    }

    &_circle {
        position: absolute;
        width: 10rem;
        height: 10rem;
        background-color: v.$primary;
        border-radius: 50%;
        bottom: 0;
        left: 10%;
        z-index: 1;
        margin-left: -1rem;

        &:hover {
            background-color: v.$accent-secondary;
        }

        @media (min-width: 992px) {
            width: 19.7rem;
            height: 19.7rem;
            margin-bottom: -5rem;
            margin-left: -1rem;
        }
    }

    &_browser {
        width: 23.3rem;
        height: 23.9rem;
        background-color: rgba(#f4f4f4, 0.6);
        backdrop-filter: blur(2.558rem);
        border-radius: 0.64rem;
        z-index: 2;
        margin-left: 1.6rem;

        @media (min-width: 992px) {
            margin-left: 15rem;
            margin-bottom: 8.4rem;
            border-radius: 1.264rem;
            width: 44.5rem;
            height: 45.5rem;
            margin-top: 2rem;
        }
    }
}

.window-header {
    background-color: rgba(#eaeaea, 0.6);
    backdrop-filter: blur(2.558rem);
    border-top-left-radius: 0.64rem;
    border-top-right-radius: 0.64rem;
    max-width: 23.3rem;
    min-height: 1.4rem;
    @media (min-width: 992px) {
        max-width: 46.2rem;
        min-height: 2.7rem;
        border-top-left-radius: 1.264rem;
        border-top-right-radius: 1.264rem;
        transform: translateY(-0.8rem);
        backdrop-filter: blur(5.057rem);
    }

    &_dots {
        display: flex;
        flex-direction: row;
        gap: 0.303rem;
        margin-left: 0.809rem;
        z-index: 5;

        @media (min-width: 992px) {
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            margin-left: 1.6rem;
            gap: 0.6rem;
        }
    }

    &_dot {
        width: 0.556rem;
        height: 0.556rem;
        background-color: #ee6767;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        margin-top: 0.405rem;
        margin-bottom: 0.405rem;

        @media (min-width: 992px) {
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    &_dot:nth-child(2) {
        background-color: #f6c566;
    }
    &_dot:last-child {
        background-color: #5beb7b;
    }
}

.window-grid {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;

    &_item {
        width: 100%;
        img {
            width: 20.1rem;
            height: 10.2rem;
            border-radius: 0.54rem;
            display: block;
            margin: 0 auto;
            object-fit: cover;
            margin-top: 1rem;

            @media (min-width: 992px) {
                width: 39.8rem;
                height: 20.3rem;
            }
        }
    }

    &_row {
        display: flex;
        gap: 0.8rem;
    }

    &_left-item {
        img {
            width: 7.6rem;
            height: 8.9rem;
            border-radius: 0.54rem;
            display: block;
            object-fit: cover;
            margin-left: 1.6rem;

            @media (min-width: 992px) {
                width: 15.1rem;
                height: 17.6rem;
                margin-left: 2.2rem;
                margin-top: 1rem;
            }
        }
    }

    &_right-item {
        img {
            width: 11.2rem;
            height: 8.9rem;
            border-radius: 0.54rem;
            display: block;
            object-fit: cover;
            margin-left: 0.5rem;
            margin-right: 1.6rem;

            @media (min-width: 992px) {
                width: 22.3rem;
                height: 17.6rem;
                margin-right: 3.2rem;
                margin-left: 1.5rem;
                margin-top: 1rem;
            }
        }
    }
}

.btn {
    @include m.flex-center;
    margin-top: -1.5rem;
    @media (min-width: 992px) {
        display: none;
    }
}
