@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

%btn {
    display:inline-block;
    border-radius:v.$radius-md;
    padding:clamp(0.8rem,calc(0.8rem + (1.5 - 0.8) * ((100vw - 32rem) / 112)),1.5rem) clamp(1.2rem,calc(1.2rem + (4.3 - 1.2) * ((100vw - 32rem) / 112)),4.3rem);
    font-family:v.$font-base;
    font-size:map.get(v.$font-sizes,body-sm);
    font-weight:map.get(v.$font-weights,semibold);
    border:none;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
    transform: scale(1.02);
  }
}

.btn-primary,
.btn-secondary {
  @extend %btn;
  @include m.theme(v.$primary);
}

.btn-light-primary,
.btn-light-secondary {
  @extend %btn;
  @include m.theme(v.$white);
}

.btn-primary,
.btn-light-primary {
  height:clamp(3.7rem,calc(3.7rem + (5.4 - 3.7) * ((100vw - 32rem) / 112)),5.4rem );
  width:clamp(10.5rem,calc(10.5rem + (17.9 - 10.5) * ((100vw - 32rem) / 112)),17.9rem);
}

.btn-secondary,
.btn-light-secondary {
  height: 5.4rem;
  width: 17.6rem;
}