@use "../abstracts/variables";

html {
    // 1rem = 10px
    font-size: 62.5%;

    // Set global font-family for all sections
    font-family: variables.$font-base;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
