@use "./functions" as f;
@use "./variables" as v;

@mixin theme($bg-color) {
  background-color: $bg-color;
  color: f.set-text-color($bg-color);
}

@mixin icons {
    border-radius:v.$radius-round;
}