@use "./functions" as f;
@use "./variables" as v;
@use "sass:map";

@mixin theme($bg-color) {
    background-color: $bg-color;
    color: f.set-text-color($bg-color);
}

@mixin icons {
    border-radius: v.$radius-round;
}

@mixin flex-center(
    $direction: column,
    $justify: center,
    $align: center,
    $text: center
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
}

@mixin section-title {
  text-align: center;
  font-size: map.get(v.$font-sizes, heading);
  font-weight: map.get(v.$font-weights, regular);
  color: v.$accent-secondary;

  @media (min-width: v.$bp-desktop) {
    font-weight: map.get(v.$font-weights, semibold);
    color: v.$text-primary;
  }
}

@mixin section-subtitle($color: v.$text-primary) {
    font-size: map.get(v.$font-sizes, body);
    font-weight: map.get(v.$font-weights, regular);
    color:$color;
}